@if (events().length === 0 && isBusy()) {
  <p-progressSpinner class="m-8" />
} @else {
  <div class="flex h-full w-full max-w-[40rem] flex-col gap-1">
    @if (hasFailed()) {
      <p-messages severity="error">
        <ng-template pTemplate>
          <span class="i-[mdi--close-circle-outline] mr-2"></span>
          <span
            >{{ translations.events_error_load() }} {{ translations.shared_tryAgainLater() }}</span
          >
          <p-button
            pTooltip="retry"
            [text]="true"
            icon="i-[mdi--reload]"
            (onClick)="loadNextPage()"
          />
        </ng-template>
      </p-messages>
    }
    @if (events().length > 0 || !hasFailed()) {
      <p-button
        class="self-end"
        [label]="translations.shared_add()"
        icon="i-[mdi--plus]"
        (onClick)="createDialog.open()"
      ></p-button>
    }
    @if (events().length > 0) {
      <div class="flex grow flex-col overflow-auto pb-4 pt-3">
        <div class="rounded-lg border-[1px] border-solid border-surface-d bg-surface-a">
          @for (event of events(); track event.id; let index = $index) {
            <a
              class="block min-w-0 truncate border-0 border-solid border-surface-d px-4 py-2 leading-8 text-text-color no-underline hover:bg-surface-c"
              [class.border-t-[1px]]="index > 0"
              [routerLink]="[event.id]"
              pRipple
            >
              {{ event.date | date: 'fullDate' : undefined : locale() }}
              @if (event.staged) {
                - {{ translations.events_staged() }}
              }
            </a>
          }
          @if (events().length === 0) {
            <div class="px-4 py-2 text-center leading-8">{{ translations.events_noEvents() }}</div>
          }
        </div>
        @if (isBusy()) {
          <p-progressSpinner class="m-4 self-center" styleClass="h-16 w-16" strokeWidth="4" />
        }
      </div>
    }
  </div>
}

<app-create-event-dialog #createDialog />
