<p-dialog
  [visible]="visible()"
  (visibleChange)="visible.set($event)"
  [modal]="true"
  [closable]="!isLoading()"
  [draggable]="false"
>
  <p-header>
    <div class="flex items-center">
      <div class="i-[mdi--bell]"></div>
      <div class="ml-2">{{ translations.setup_enableNotifications() }}</div>
    </div>
  </p-header>

  <div>{{ translations.setup_enableNotificationsDescription() }}</div>

  <p-footer>
    <div class="flex justify-end gap-2">
      <p-button
        styleClass="min-w-24"
        label="{{ translations.shared_no() }}"
        [disabled]="isLoading()"
        [text]="true"
        (onClick)="onReject()"
      />
      <p-button
        styleClass="min-w-24"
        label="{{ translations.shared_yes() }}"
        [disabled]="isLoading()"
        (onClick)="onAccept()"
      />
    </div>
  </p-footer>
</p-dialog>
