<p-dialog
  [header]="
    mapToUpdate()
      ? translations.maps_dialog_editHeader(mapToUpdate())
      : translations.maps_dialog_addHeader()
  "
  [visible]="visible()"
  (visibleChange)="visible.set($event)"
  [modal]="true"
>
  <div class="grid grid-cols-1 gap-4" [formGroup]="form">
    <span class="p-float-label required">
      <input
        pInputText
        [id]="id('name')"
        type="text"
        formControlName="name"
        autofocus
        autocomplete="off"
        (keyup.enter)="submit()"
      />
      <label [htmlFor]="id('name')">{{ translations.maps_dialog_name() }}</label>
    </span>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      [disabled]="isLoading()"
      [text]="true"
      label="{{ translations.shared_cancel() }}"
      (onClick)="close()"
    />
    <p-button
      [disabled]="isLoading()"
      label="{{ translations.shared_save() }}"
      (onClick)="submit()"
    />
  </ng-template>
</p-dialog>
