@if (user(); as user) {
  <h1>{{ translations.playerEvents_greetings({ name: user.alias }) }}</h1>
}

@if (!hasEvents() && isLoading()) {
  <p-progressSpinner class="m-8" />
} @else if (hasLoadFailed()) {
  <p-messages severity="error">
    <ng-template pTemplate>
      <span class="i-[mdi--close-circle-outline] mr-2"></span>
      <span
        >{{ translations.playerEvents_error_load() }}
        {{ translations.shared_tryAgainLater() }}</span
      >
    </ng-template>
  </p-messages>
} @else if (user()?.roles?.includes('player')) {
  <div class="flex h-full w-full max-w-[40rem] flex-col gap-4 overflow-auto pb-4">
    <h2 class="m-0">{{ translations.playerEvents_currentEvents() }}</h2>
    <div class="rounded-lg border-[1px] border-solid border-surface-d bg-surface-a">
      @for (event of currentEvents(); track event.id; let index = $index) {
        <ng-container
          *ngTemplateOutlet="eventEntryTemplate; context: { $implicit: event, index: $index }"
        ></ng-container>
      }
      @if (currentEvents().length === 0) {
        <div class="px-4 py-2 text-center leading-8">
          {{ translations.playerEvents_noEvents() }}
        </div>
      }
    </div>

    <h2 class="m-0">{{ translations.playerEvents_pastEvents() }}</h2>
    <div class="rounded-lg border-[1px] border-solid border-surface-d bg-surface-a">
      @for (event of pastEvents(); track event.id) {
        <ng-container
          *ngTemplateOutlet="eventEntryTemplate; context: { $implicit: event, index: $index }"
        ></ng-container>
      }
      @if (pastEvents().length === 0) {
        <div class="px-4 py-2 text-center leading-8">
          {{ translations.playerEvents_noEvents() }}
        </div>
      }
    </div>

    @if (isLoading()) {
      <p-progressSpinner class="m-4 self-center" styleClass="h-16 w-16" strokeWidth="4" />
    }
  </div>
}

<ng-template #eventEntryTemplate let-event let-index="index">
  <a
    class="flex min-w-0 flex-row items-center gap-4 truncate border-0 border-solid border-surface-d px-4 py-2 leading-8 text-text-color no-underline hover:bg-surface-c"
    [class.border-t-[1px]]="index > 0"
    [routerLink]="[event.id]"
    pRipple
  >
    <div class="flex min-w-0 grow flex-row flex-wrap items-center justify-between gap-x-4">
      <span class="font-semibold">{{ event.date | date: 'fullDate' : undefined : locale() }}</span>
      <span class="text-sm">
        @if (getRegisteredTimeslotsCount(event); as timeslotCount) {
          {{ translations.playerEvents_registered({ timeslots: timeslotCount }) }}
        } @else {
          {{ translations.playerEvents_notRegistered() }}
        }
      </span>
    </div>
    @if (user()?.roles?.includes('admin')) {
      <p-button
        class="-mr-2"
        icon="i-[mdi--pencil]"
        [text]="true"
        [rounded]="true"
        size="small"
        [pTooltip]="translations.shared_edit()"
        [routerLink]="['/manage', 'events', event.id]"
        (click)="$event.stopPropagation(); $event.preventDefault()"
      />
    }
  </a>
</ng-template>
