# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/tailwind.json
.history/*

node_modules/*

# System files
.DS_Store
Thumbs.db
