@if (isAdmin()) {
  <p-menubar class="relative block" [model]="adminMenuItems()" [autoDisplay]="false">
    <ng-template pTemplate="end">
      <div class="flex flex-row gap-4">
        <div class="flex flex-row flex-wrap items-baseline justify-end gap-x-4 text-end">
          @if (title()) {
            <span class="font-semibold">{{ title() }}</span>
            <span class="ml-8 text-xs">{{ translations.title() }}</span>
          } @else {
            <span class="font-semibold">{{ translations.title() }}</span>
          }
        </div>
        @if (!isServerConnected() && isLoggedIn()) {
          <p-button
            [icon]="'i-[mdi--wifi-off]'"
            [rounded]="true"
            [text]="true"
            [severity]="'danger'"
            class="-my-8 self-center"
            styleClass="text-[1.5rem]"
            (onClick)="offlinePanel.toggle($event)"
          />
          <p-overlayPanel #offlinePanel [dismissable]="true">
            <span>{{ translations.nav_offline() }}</span>
          </p-overlayPanel>
        }
      </div>
      <ng-container *ngTemplateOutlet="updateButtonTemplate"></ng-container>
    </ng-template>
  </p-menubar>
} @else {
  <div class="relative flex flex-row gap-2">
    <p-button
      [icon]="'i-[mdi--home]'"
      [pTooltip]="translations.nav_home()"
      [rounded]="true"
      [text]="true"
      styleClass="h-14 w-14 p-4 text-[1.5rem]"
      [routerLink]="'/home'"
    />
    <div class="grow"></div>
    @if (!isServerConnected() && isLoggedIn()) {
      <p-button
        [icon]="'i-[mdi--wifi-off]'"
        [rounded]="true"
        [text]="true"
        [severity]="'danger'"
        styleClass="h-14 w-14 p-4 text-[1.5rem]"
        (onClick)="offlinePanel.toggle($event)"
      />
      <p-overlayPanel #offlinePanel [dismissable]="true">
        <span>{{ translations.nav_offline() }}</span>
      </p-overlayPanel>
    }
    <p-button
      [icon]="'i-[mdi--cog]'"
      [pTooltip]="translations.nav_settings()"
      [rounded]="true"
      [text]="true"
      styleClass="h-14 w-14 p-4 text-[1.5rem]"
      [routerLink]="'/user-settings'"
    />
    <ng-container *ngTemplateOutlet="updateButtonTemplate"></ng-container>
  </div>
}

<ng-template #updateButtonTemplate>
  @if (newVersionAvailable()) {
    <div class="top-5 absolute-center">
      <div [@flyInTopAnimation]>
        <p-button
          [icon]="'i-[mdi--cloud-download]'"
          [label]="translations.shared_update()"
          [severity]="'success'"
          [size]="'large'"
          [raised]="true"
          (onClick)="updateApp()"
        />
      </div>
    </div>
  }
</ng-template>
