@if (isAdmin()) {
  <p-menubar class="block" [model]="menuItems()" [autoDisplay]="false">
    <ng-template pTemplate="end">
      <div class="flex flex-row flex-wrap items-end justify-end gap-x-8">
        @if (title()) {
          <span class="font-semibold">{{ title() }}</span>
          <span class="text-xs">{{ translations.title() }}</span>
        } @else {
          <span class="font-semibold">{{ translations.title() }}</span>
        }
      </div>
    </ng-template>
  </p-menubar>
} @else {
  <div class="flex flex-row gap-2">
    @for (item of menuItems(); track index; let index = $index) {
      <ng-container
        *ngTemplateOutlet="menuItemTemplate; context: { $implicit: item, index }"
      ></ng-container>
    }
  </div>
}

<ng-template #menuItemTemplate let-item let-index="index">
  @if (item.visible !== false) {
    @if (item.separator) {
      @if (item.state?.['grow']) {
        <div class="grow"></div>
      } @else {
        <div class="mx-4 my-auto h-8 w-[1px] bg-surface-d"></div>
      }
    } @else if (item.items) {
      @if (item.state?.['expand'] === true) {
        @for (subItem of item.items; track index; let index = $index) {
          <ng-container
            *ngTemplateOutlet="menuItemTemplate; context: { $implicit: subItem, index }"
          ></ng-container>
        }
      } @else {
        <div>
          <p-button
            [icon]="item.icon"
            [pTooltip]="item.label"
            [rounded]="true"
            [text]="true"
            styleClass="h-14 w-14 p-4 text-[1.5rem]"
            (onClick)="menu.toggle($event)"
          />
          <p-menu #menu [model]="item.items" [popup]="true" />
        </div>
      }
    } @else {
      <p-button
        [icon]="item.icon"
        [pTooltip]="item.label"
        [rounded]="true"
        [text]="true"
        styleClass="h-14 w-14 p-4 text-[1.5rem]"
        [routerLink]="item.routerLink"
        (onClick)="item.command?.({ originalEvent: $event, item, index })"
      />
    }
  }
</ng-template>
