<div class="flex h-full w-full max-w-[40rem] flex-col">
  <div class="absolute right-4 z-50 mt-4 rounded-2xl bg-primary opacity-75">
    @if (hasFailed() || isBusy() || event()) {
      @if (user()?.roles?.includes('admin') && event()) {
        <p-button
          [pTooltip]="translations.shared_edit()"
          [text]="true"
          [rounded]="true"
          icon="i-[mdi--pencil] bg-primary-text"
          [routerLink]="['/manage', 'events', event()?.id]"
        />
      }
    }
  </div>

  @if (isBusy()) {
    <p-progressSpinner class="m-8 self-center" />
  } @else if (hasFailed()) {
    <p-messages severity="error">
      <ng-template pTemplate>
        <span class="i-[mdi--close-circle-outline] mr-2"></span>
        <span
          >{{ translations.playerEvents_error_loadOne() }}
          {{ translations.shared_tryAgainLater() }}</span
        >
      </ng-template>
    </p-messages>
  } @else {
    <div class="flex flex-col gap-2 overflow-auto py-4">
      @if (event(); as event) {
        <p-card>
          <div class="flex flex-col gap-2">
            <div class="flex flex-row flex-wrap gap-x-4">
              <div class="font-semibold">{{ translations.events_date() }}:</div>
              <div>
                {{ event.date | date: 'mediumDate' : undefined : locale() }}
              </div>
            </div>
            <div class="flex flex-row flex-wrap gap-x-4">
              <div class="font-semibold">{{ translations.events_registrationDeadline() }}:</div>
              <div>
                {{ event.registrationDeadline | date: 'medium' : undefined : locale() }}
              </div>
            </div>
            <div class="flex flex-row flex-wrap gap-x-4">
              @if (externalUri()) {
                <div class="flex flex-col justify-center">
                  <div class="font-semibold">Facebook Event:</div>
                </div>
                <p-button
                  icon="i-[mdi--facebook] text-xl"
                  (onClick)="openExternalUri()"
                  [label]="translations.shared_open()"
                ></p-button>
              }
            </div>
          </div>
        </p-card>

        @if (!canRegister() && !event.isStarted) {
          <p-messages severity="info">
            <ng-template pTemplate>
              <span class="i-[mdi--info-circle-outline] mr-2"></span>
              <span>{{ translations.playerEvents_registrationClosed() }}</span>
            </ng-template>
          </p-messages>
        }

        @if (canRegister() || !event.isStarted) {
          <h2 class="m-0 pt-2">{{ translations.playerEvents_registrations() }}</h2>
          <p-card>
            <div class="flex flex-col gap-2">
              @for (timeslot of timeslots(); track timeslot.id) {
                <div
                  class="flex flex-col rounded-xl p-2"
                  [ngClass]="$index % 2 === 0 ? 'bg-surface-b' : 'bg-surface-c'"
                >
                  <div class="flex flex-row flex-wrap items-center justify-end">
                    <ng-container
                      *ngTemplateOutlet="timeslotTemplate; context: { $implicit: timeslot }"
                    ></ng-container>
                    <div class="grow"></div>
                    <div>
                      <app-fading-message
                        class="pointer-events-none mr-2 rounded bg-green-100 p-2 text-green-900 dark:bg-green-900 dark:text-green-200"
                        [showTrigger]="timeslotSaveStates()[$index] | async"
                      >
                        <span class="i-[mdi--check]"></span>
                      </app-fading-message>
                    </div>
                    <div class="">
                      <p-inputSwitch
                        class="flex"
                        [disabled]="
                          !canRegister() ||
                          isChanginRegistration() ||
                          !canRegisterForTimeslot(timeslot)
                        "
                        [ngModel]="timeslot.isRegistered"
                        (ngModelChange)="setTimeslotRegistration(timeslot, $event)"
                        [resetNgModel]="resetNgModel"
                      />
                    </div>
                  </div>
                  @if (timeslot.isRegistered && timeslot.isFallbackAllowed) {
                    <div class="flex flex-row flex-wrap items-center justify-end pt-2">
                      <div class="grow"></div>
                      <span>{{ translations.playerEvents_fallbackTimeslot() }}</span>
                      <p-button
                        [pTooltip]="translations.shared_why()"
                        icon="i-[mdi--help-circle-outline]"
                        styleClass="h-8 w-8 p-2"
                        [text]="true"
                        [rounded]="true"
                        (onClick)="fallbackInfo.toggle($event)"
                      />
                      <p-overlayPanel #fallbackInfo styleClass="max-w-96">
                        {{ translations.playerEvents_fallbackTimeslotDescription() }}
                      </p-overlayPanel>
                      <p-dropdown
                        class="ml-4 w-40"
                        appendTo="body"
                        [disabled]="!canRegister() || isChanginRegistration()"
                        [ngModel]="timeslot.chosenFallbackTimeslotId"
                        (onChange)="setFallbackTimeslot(timeslot, $event.value)"
                        [resetNgModel]="resetNgModel"
                        [options]="timeslotsWithoutFallback()"
                        [optionValue]="'id'"
                        [placeholder]="translations.playerEvents_noFallbackTimeslot()"
                        [showClear]="true"
                      >
                        <ng-template pTemplate="selectedItem" let-item>
                          <ng-container
                            *ngTemplateOutlet="timeslotTemplate; context: { $implicit: item }"
                          ></ng-container>
                        </ng-template>
                        <ng-template pTemplate="item" let-item>
                          <ng-container
                            *ngTemplateOutlet="timeslotTemplate; context: { $implicit: item }"
                          ></ng-container>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    @if (!timeslot.chosenFallbackTimeslotId) {
                      <small class="pt-2 text-right text-yellow-400">
                        {{ translations.playerEvents_warning_noFallbackTimeslot() }}
                      </small>
                    }
                  }
                </div>
              }
            </div>
          </p-card>
        }
        @if (event.isStarted) {
          <h2 class="m-0 pt-4">{{ translations.playerEvents_games() }}</h2>

          @if (games().length === 0) {
            <p-messages severity="info">
              <ng-template pTemplate>
                <span class="i-[mdi--info-circle-outline] mr-2"></span>
                <div class="flex flex-col gap-1">
                  <span class="font-semibold">{{
                    translations.playerEvents_noGames_general()
                  }}</span>
                  <span>{{
                    hasRegisteredTimeslot()
                      ? translations.playerEvents_noGames_registered()
                      : translations.playerEvents_noGames_notRegistered()
                  }}</span>
                </div>
              </ng-template>
            </p-messages>
          }

          @for (game of games(); track game.timeslot.id) {
            <p-card>
              <h3 class="m-0 pb-8">
                <span class="i-[mdi--clock-time-four-outline]"></span>
                <span>
                  {{ game.timeslot.time.hour | number: '2.0-0' }}:{{
                    game.timeslot.time.minute | number: '2.0-0'
                  }}
                </span>
              </h3>
              <div class="grid grid-cols-[auto,1fr] gap-x-8 gap-y-4">
                <span>
                  <span class="i-[mdi--pound] mr-2"></span>
                  <span>{{ translations.playerEvents_groupCode() }}:</span>
                </span>
                <span class="uppercase" translate="no">{{ game.instance.groupCode }}</span>
                <span>
                  <span class="i-[mdi--golf] mr-2"></span>
                  <span>{{ translations.playerEvents_map() }}:</span>
                </span>
                <span translate="no">{{ game.instance.map.name }}</span>
                <span>
                  <span class="i-[mdi--account-multiple] mr-2"></span>
                  <span>{{ translations.playerEvents_playerAmount() }}:</span>
                </span>
                <span>{{ game.instance.playerAmount }}</span>
              </div>
            </p-card>
          }
        }
      } @else {
        <div class="mt-16 flex flex-col items-center gap-8">
          <span class="i-[mdi--close-octagon] text-[8rem] text-red-500"></span>
          <h1 class="m-0 text-center">{{ translations.playerEvents_notFound() }}</h1>
          <p-button
            [label]="translations.playerEvents_backToEvents()"
            icon="i-[mdi--arrow-left]"
            [routerLink]="['..']"
          />
        </div>
      }

      <div class="mt-4 flex flex-row items-center gap-2">
        <h2 class="m-0 grow">{{ translations.playerEvents_registeredPlayers() }}</h2>
        <span
          class="inline-block rounded-full bg-primary px-2 text-center font-bold text-primary-text"
        >
          <span class="i-[mdi--account]"></span> {{ eventRegistrations().length }}
        </span>
      </div>
      <p-card>
        <div
          class="grid overflow-x-auto"
          [style]="{ gridTemplateColumns: 'repeat(' + timeslots().length + ', auto) 1fr' }"
        >
          @for (timeslot of timeslots(); track timeslot.id) {
            <div class="top-0 z-10 bg-surface-b px-1 py-2 text-xs">
              {{ timeslot.time.hour | number: '2.0-0' }}:{{
                timeslot.time.minute | number: '2.0-0'
              }}
            </div>
          }
          <div class="top-0 z-10 bg-surface-b py-2 pl-1 text-xs">
            {{ translations.shared_name() }}
          </div>
          @for (
            eventRegistration of eventRegistrations();
            track eventRegistration.userId;
            let row = $index
          ) {
            @for (timeslot of timeslots(); track timeslot.id) {
              <div
                [ngClass]="row % 2 === 0 ? 'bg-surface-c' : ''"
                class="flex flex-row items-center justify-center"
              >
                <span
                  [class.i-[mdi--check]]="
                    eventRegistration.registeredTimeslotIds.includes(timeslot.id)
                  "
                ></span>
              </div>
            }
            <div
              class="flex flex-row items-center gap-4 py-1 pl-1"
              [ngClass]="$index % 2 === 0 ? 'bg-surface-c' : ''"
            >
              <div class="overflow-auto">
                {{ eventRegistration.userAlias }}
              </div>
            </div>
          }
        </div>
      </p-card>
    </div>
  }
</div>

<ng-template let-item #timeslotTemplate>
  <div class="flex flex-row items-center gap-4">
    <span class="i-[mdi--clock-time-four-outline]"></span>
    <span> {{ item.time.hour | number: '2.0-0' }}:{{ item.time.minute | number: '2.0-0' }} </span>
  </div>
</ng-template>
