<footer
  class="flex flex-row flex-wrap justify-around gap-x-8 bg-primary-700 px-2 py-1 text-xs sm:px-4 md:text-xs lg:text-sm"
>
  <div class="truncate">
    <span>{{ translations.footer_developedBy() }} Marc Schmidt </span>
    <span class="whitespace-nowrap"
      >(<a href="https://github.com/MaSch0212" target="_blank"
        ><span class="i-[mdi--github]"></span>MaSch0212</a
      >)</span
    >
  </div>
  <div class="truncate">
    <span>{{ translations.footer_basedOn() }} André Schmidt </span>
    <span class="whitespace-nowrap"
      >(<a href="https://www.facebook.com/AnSch1510" target="_blank"
        ><span class="i-[mdi--facebook]"></span>AnSch1510</a
      >)</span
    >
  </div>
</footer>
