<p-dialog
  [visible]="visible()"
  (visibleChange)="visible.set($event)"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h2 class="max-w-72 sm:max-w-none">
      {{ translations.users_userWelcomeDialog_title() | interpolate: user() }}
    </h2>
  </ng-template>
  <div class="flex flex-col items-end gap-2">
    <div #content class="grid grid-cols-1 gap-2 sm:grid-cols-2">
      <p-button
        styleClass="w-full"
        [icon]="'i-[mdi--text-account]'"
        [label]="translations.users_userWelcomeDialog_copyWelcomeMessage()"
        (onClick)="copyWelcomeMessage()"
      />
      @if (user()?.loginToken; as loginToken) {
        <p-button
          styleClass="w-full"
          [icon]="'i-[mdi--lock]'"
          [label]="translations.users_userWelcomeDialog_copyPassword()"
          (onClick)="copyPassword(loginToken)"
        />
      }
    </div>
    <p-button
      styleClass="w-full"
      [icon]="'i-[mdi--check]'"
      [label]="translations.shared_done()"
      (onClick)="visible.set(false)"
      [text]="true"
    />
  </div>
</p-dialog>
