<div class="flex h-full w-full max-w-[40rem] flex-col gap-4 overflow-auto py-4">
  <div class="flex flex-row">
    <p-button
      [label]="translations.shared_back()"
      [pTooltip]="translations.events_backToEvents()"
      [text]="true"
      icon="i-[mdi--arrow-left]"
      (onClick)="navigateBack()"
    />
    <div class="grow"></div>
    @if (event(); as event) {
      @if (timeslot(); as timeslot) {
        <p-button
          [label]="translations.shared_edit()"
          icon="i-[mdi--pencil]"
          (onClick)="editTimeslotDialog.open()"
        />
        <app-event-timeslot-dialog #editTimeslotDialog [event]="event" [timeslot]="timeslot" />
      }
    }
  </div>

  @if (isBusy()) {
    <p-progressSpinner class="m-8 self-center" />
  } @else if (hasFailed()) {
    <p-messages severity="error">
      <ng-template pTemplate>
        <span class="i-[mdi--close-circle-outline] mr-2"></span>
        <span
          >{{ translations.events_error_loadOne() }} {{ translations.shared_tryAgainLater() }}</span
        >
      </ng-template>
    </p-messages>
  } @else {
    @if (hasUsersFailed()) {
      <p-messages severity="error">
        <ng-template pTemplate>
          <span class="i-[mdi--close-circle-outline] mr-2"></span>
          <span
            >{{ translations.users_error_load() }} {{ translations.shared_tryAgainLater() }}</span
          >
          <p-button
            pTooltip="retry"
            [text]="true"
            icon="i-[mdi--reload]"
            (onClick)="reloadUsers()"
          />
        </ng-template>
      </p-messages>
    }

    @if (event(); as event) {
      @if (timeslot(); as timeslot) {
        <p-card>
          <div class="flex flex-col items-center">
            <div class="grid grid-cols-[auto,1fr] gap-x-4 gap-y-2">
              <span>
                <span class="i-[mdi--calendar-month] mr-2"></span>
                <span class="truncate font-semibold">{{ translations.events_date() }}:</span>
              </span>
              <span>{{ dateTime() | date: 'medium' : undefined : locale() }}</span>
              <span>
                <span class="i-[mdi--sign-caution] mr-2"></span>
                <span class="truncate font-semibold"
                  >{{ translations.events_registrationDeadline() }}:</span
                >
              </span>
              <span>{{ event.registrationDeadline | date: 'medium' : undefined : locale() }}</span>
              @if (timeslot.mapId) {
                @if (maps()[timeslot.mapId]; as map) {
                  <span>
                    <span class="i-[mdi--golf] mr-2"></span>
                    <span class="truncate font-semibold">{{
                      translations.events_timeslot_map()
                    }}</span>
                  </span>
                  <span>{{ map.name }}</span>
                }
              }
            </div>
          </div>
        </p-card>

        @if (isUsersBusy()) {
          <p-progressSpinner class="m-4 self-center" styleClass="h-16 w-16" strokeWidth="4" />
        } @else if (!hasUsersFailed()) {
          <div class="mt-4 flex flex-row items-center gap-2">
            <h2 class="m-0 grow">
              {{ translations.events_timeslot_preconfiguredGroups() }}
            </h2>
            @if (!event.startedAt) {
              <p-button
                [label]="translations.shared_add()"
                icon="i-[mdi--plus]"
                [disabled]="isAddPreconfigBusy()"
                (onClick)="addPreconfig()"
              />
            }
          </div>

          @if (timeslot.preconfigurations.length === 0) {
            <div
              class="rounded-lg border-[1px] border-solid border-surface-d bg-surface-a px-4 py-2 text-center leading-8"
            >
              {{ translations.events_timeslot_noPreconfigurations() }}
            </div>
          } @else {
            <p-accordion>
              @for (preconfig of timeslot.preconfigurations; track preconfig.id) {
                <p-accordionTab contentStyleClass="p-0">
                  <ng-template pTemplate="header">
                    <span class="flex w-full flex-row items-center gap-2">
                      <span class="min-w-0 grow truncate">{{
                        translations.events_playerAmount({ amount: preconfig.playerIds.length })
                      }}</span>
                      <p-button
                        class="-my-2"
                        [pTooltip]="translations.shared_delete()"
                        [text]="true"
                        [rounded]="true"
                        [severity]="'danger'"
                        size="small"
                        icon="i-[mdi--delete]"
                        (onClick)="$event.stopImmediatePropagation(); removePreconfig(preconfig)"
                      />
                    </span>
                  </ng-template>

                  @for (playerId of preconfig.playerIds; track playerId; let index = $index) {
                    <div
                      class="flex min-w-0 flex-row items-center border-0 border-b-[1px] border-solid border-surface-d py-2 pl-4 pr-2 leading-8 hover:bg-surface-c"
                    >
                      <span class="truncate">
                        @if (allUsers()[playerId]; as user) {
                          {{ user.alias }}
                        } @else {
                          &lt;{{ translations.events_timeslot_unknownPlayer() }}&gt;
                          <span class="opacity-50">({{ playerId }})</span>
                        }
                      </span>
                      <div class="grow"></div>
                      <p-button
                        class="mr-3"
                        [pTooltip]="translations.shared_delete()"
                        [text]="true"
                        [rounded]="true"
                        [severity]="'danger'"
                        size="small"
                        icon="i-[mdi--delete]"
                        (onClick)="removePlayerFromPreconfig(preconfig.id, playerId)"
                      />
                    </div>
                  }
                  @if (preconfig.playerIds.length === 0) {
                    <div class="px-4 py-2 text-center leading-8">
                      {{ translations.events_timeslot_preconfigNoPlayers() }}
                    </div>
                  }
                  <div class="relative w-full p-2">
                    <p-dropdown
                      #preconfigPlayerDropdown
                      class="grow"
                      styleClass="flex"
                      [ngModel]="null"
                      [disabled]="isAddPlayerToPreconfigBusy()"
                      [options]="preconfigPlayerOptions()"
                      optionLabel="alias"
                      [filter]="true"
                      [autofocusFilter]="false"
                      filterBy="alias"
                      [resetFilterOnHide]="true"
                      (onChange)="
                        addPlayerToPreconfig(preconfig.id, $event.value.id);
                        preconfigPlayerDropdown.writeValue(null)
                      "
                    />
                    @if (isAddPlayerToPreconfigBusy()) {
                      <p-progressSpinner
                        styleClass="absolute left-1/2 top-1/2 h-8 w-8 -translate-x-1/2 -translate-y-1/2"
                        strokeWidth="6"
                      />
                    }
                  </div>
                </p-accordionTab>
              }
            </p-accordion>
          }

          <div class="mt-4 flex flex-row items-center gap-2">
            <h2 class="m-0 grow">
              {{ translations.events_timeslot_registeredPlayers() }}
            </h2>
            <span
              class="inline-block rounded-full bg-primary px-2 text-center font-bold text-primary-text"
            >
              <span class="i-[mdi--account]"></span>{{ timeslot.playerIds.length }}
            </span>
            @if (!event.startedAt) {
              <p-button
                [label]="translations.shared_add()"
                icon="i-[mdi--plus]"
                [disabled]="isAddPreconfigBusy()"
                (onClick)="addPlayerPanel.show($event)"
              />
              <p-overlayPanel #addPlayerPanel class="hidden" styleClass="p-0">
                <ng-template pTemplate="content" styleClass="p-0">
                  <p-listbox
                    styleClass="border-none"
                    [options]="availablePlayers()"
                    optionLabel="alias"
                    optionValue="id"
                    [filter]="true"
                    (onChange)="addPlayer($event.value); addPlayerPanel.hide()"
                  >
                    <ng-template let-user pTemplate="listItem">
                      <app-user-item [user]="user" />
                    </ng-template>
                  </p-listbox>
                </ng-template>
              </p-overlayPanel>
            }
          </div>

          <div class="rounded-lg border-[1px] border-solid border-surface-d bg-surface-a">
            @for (player of players(); track player.id; let index = $index) {
              <div
                class="flex min-w-0 flex-row items-center gap-2 border-0 border-solid border-surface-d p-2 pl-4"
                [class.border-t-[1px]]="index > 0"
              >
                <div class="min-w-0 grow">
                  @if (player.alias) {
                    {{ player.alias }}
                  } @else {
                    &lt;{{ translations.events_timeslot_unknownPlayer() }}&gt;
                    <span class="opacity-50">({{ player.id }})</span>
                  }
                </div>
                <p-button
                  icon="i-[mdi--delete]"
                  [rounded]="true"
                  [text]="true"
                  size="small"
                  severity="danger"
                  (onClick)="removeUser(player)"
                />
              </div>
            }
            @if (timeslot.playerIds.length === 0) {
              <div class="px-4 py-2 text-center leading-8">
                {{ translations.events_timeslot_noPlayers() }}
              </div>
            }
          </div>
        }

        @if (!event.startedAt) {
          <p-button
            class="mt-8 self-center"
            severity="danger"
            [text]="true"
            [label]="translations.events_deleteTimeslot()"
            icon="i-[mdi--delete]"
            (onClick)="deleteTimeslot()"
          />
        }
      }
    }
    @if (!event() || !timeslot()) {
      <div class="mt-16 flex flex-col items-center gap-8">
        <span class="i-[mdi--close-octagon] text-[8rem] text-red-500"></span>
        <h1 class="m-0 text-center">
          {{ event() ? translations.events_timeslot_notFound() : translations.events_notFound() }}
        </h1>
        <p-button
          [label]="event() ? translations.events_backToEvent() : translations.events_backToEvents()"
          icon="i-[mdi--arrow-left]"
          (onClick)="navigateBack()"
        />
      </div>
    }
  }
</div>
