@if (!isAuthInitialized()) {
  <p-progressSpinner class="m-8 self-center" />
} @else {
  <div class="grid h-full grid-rows-[1fr,auto,2fr] overflow-auto py-4">
    <p-card
      class="row-start-2 mx-auto max-w-[600px]"
      [header]="translations.login_loginTo() | interpolate: { appName: translations.title() }"
    >
      <div class="flex flex-col">
        <form class="flex flex-col gap-4" [formGroup]="loginForm" (ngSubmit)="login()">
          <span class="p-float-label required">
            <input
              pInputText
              type="password"
              formControlName="loginToken"
              (keyup.enter)="login()"
            />
            <label>{{ translations.shared_password() }}</label>
            <small [formControlErrors]="loginForm.controls.loginToken.errors"></small>
          </span>
          @switch (loginResult()) {
            @case ('invalid-token') {
              <span class="text-danger">{{ translations.login_error_invalidCredentials() }}</span>
            }
            @case ('error') {
              <span class="text-danger">{{ translations.login_error_unknown() }}</span>
            }
          }
          <div class="relative flex flex-row justify-end gap-2">
            @if (isLoggingIn()) {
              <p-progressSpinner
                class="absolute-center-y left-0"
                styleClass="size-12"
                strokeWidth="5px"
              />
            }
            <p-button icon="i-[mdi--login]" [label]="translations.login_login()" type="submit" />
          </div>
        </form>
      </div>
    </p-card>
  </div>
}
