<div class="flex h-full w-full max-w-[40rem] flex-col gap-4 overflow-auto py-4">
  @if (hasFailed() || isBusy() || event()) {
    <p-button
      [label]="translations.shared_back()"
      [pTooltip]="translations.events_backToEvents()"
      [text]="true"
      icon="i-[mdi--arrow-left]"
      [routerLink]="['..']"
    />
  }

  @if (isBusy()) {
    <p-progressSpinner class="m-8 self-center" />
  } @else if (hasFailed()) {
    <p-messages severity="error">
      <ng-template pTemplate>
        <span class="i-[mdi--close-circle-outline] mr-2"></span>
        <span
          >{{ translations.events_error_loadOne() }} {{ translations.shared_tryAgainLater() }}</span
        >
      </ng-template>
    </p-messages>
  } @else {
    @if (event(); as event) {
      <p-card>
        <div class="flex flex-col items-center gap-4">
          <div class="grid grid-cols-[auto,1fr] gap-x-4 gap-y-2">
            <span>
              <span class="i-[mdi--calendar-month] mr-2"></span>
              <span class="truncate font-semibold">{{ translations.events_date() }}:</span>
            </span>
            <span>{{ event.date | date: 'mediumDate' : undefined : locale() }}</span>
            <span>
              <span class="i-[mdi--sign-caution] mr-2"></span>
              <span class="truncate font-semibold"
                >{{ translations.events_registrationDeadline() }}:</span
              >
            </span>
            <span>{{ event.registrationDeadline | date: 'medium' : undefined : locale() }}</span>
          </div>
          @if (canStart()) {
            <div class="flex flex-col gap-2">
              <p-button
                class="self-center"
                icon="i-[mdi--play]"
                [label]="translations.events_start()"
                (onClick)="startEvent()"
                [loading]="isStartBusy()"
                [disabled]="!allowToStart()"
              />
              @if (!hasInstances()) {
                <small class="text-center text-warning">{{
                  translations.events_warning_notStartableNoInstances()
                }}</small>
              } @else if (!allTimeslotsHaveMaps()) {
                <small class="text-center text-warning">{{
                  translations.events_warning_notStartableMissingMap()
                }}</small>
              }
            </div>
          }
          @if (canCommit()) {
            <p-button
              class="self-center"
              icon="i-[mdi--play]"
              [label]="translations.events_commit()"
              (onClick)="commitEvent()"
              [loading]="isStartBusy()"
            />
          }
        </div>
      </p-card>

      <div class="mt-4 flex flex-row flex-wrap items-center gap-2">
        <h2 class="ml-4 grow">{{ translations.events_facebookLink() }}</h2>
        <p-inputGroup class="w-auto">
          <button
            type="button"
            pButton
            [label]="
              externalUri() && externalUri() !== undefined && externalUri()?.length !== 0
                ? translations.shared_edit()
                : translations.shared_add()
            "
            icon="i-[mdi--facebook]"
            (click)="modifyExternalUriDialog.open(externalUri())"
          ></button>
          <button
            type="button"
            pButton
            [outlined]="true"
            icon="i-[mdi--arrow-right-circle]"
            [disabled]="
              externalUri() && externalUri() !== undefined && externalUri()?.length !== 0
                ? false
                : true
            "
            (click)="openExternalUri()"
          ></button>
        </p-inputGroup>
      </div>

      <div class="mt-4 flex flex-row items-center gap-2">
        <h2 class="ml-4 grow">{{ translations.events_timeslots() }}</h2>
        <span
          class="inline-block rounded-full bg-primary px-2 text-center font-bold text-primary-text"
        >
          <span class="i-[mdi--account]"></span> {{ playersAmount() }}
        </span>
        @if (!event.startedAt && event.staged) {
          <p-button
            [label]="translations.shared_add()"
            icon="i-[mdi--plus]"
            (onClick)="createTimeslotDialog.open()"
          />
        }
      </div>

      <div class="rounded-lg border-[1px] border-solid border-surface-d bg-surface-a">
        @for (timeslot of timeslots(); track timeslot.id; let index = $index) {
          <div
            class="items-centertruncate flex min-w-0 flex-row border-0 border-solid border-surface-d px-4 py-2 leading-8 text-text-color no-underline hover:bg-surface-c"
            [class.border-t-[1px]]="index > 0"
            pRipple
          >
            <a
              class="min-w-0 grow gap-4 text-text-color no-underline"
              [routerLink]="['timeslots', timeslot.id]"
            >
              <div class="flex flex-row items-center gap-2">
                <span class="i-[mdi--clock-time-four-outline]"></span>
                @if (timeslot.isFallbackAllowed) {
                  <span class="i-[mdi--arrow-up-down] -mx-2"></span>
                }
                <span class="grow">
                  {{ timeslot.time.hour | number: '2.0-0' }}:{{
                    timeslot.time.minute | number: '2.0-0'
                  }}</span
                >
                @if (timeslot.mapId) {
                  @if (maps()[timeslot.mapId]; as map) {
                    <span class="i-[mdi--golf]"></span>
                    <span class="truncate">{{ map.name }}</span>
                  }
                }
                <span
                  class="inline-block min-w-fit rounded-full bg-primary px-2 text-center font-bold text-primary-text"
                >
                  <span class="i-[mdi--account]"></span> {{ timeslot.playerIds.length }}
                </span>
              </div>
            </a>
            <p-button
              class="-mr-2"
              icon="i-[mdi--pencil]"
              [text]="true"
              [rounded]="true"
              size="small"
              [pTooltip]="translations.shared_edit()"
              (onClick)="editTimeslotDialog.open()"
            />
          </div>
          <app-event-timeslot-dialog #editTimeslotDialog [event]="event" [timeslot]="timeslot" />
        }
        @if (event.timeslots.length === 0) {
          <div class="px-4 py-2 text-center leading-8">
            {{ translations.events_noTimeslots() }}
          </div>
        }
      </div>

      @if (canBuildInstances()) {
        <div class="flex flex-row items-center pt-4">
          <h2 class="ml-4 grow">{{ translations.events_groups() }}</h2>
          <p-inputGroup class="w-auto">
            @if (!event.startedAt) {
              <button
                pButton
                icon="i-[mdi--shuffle]"
                [label]="
                  hasInstances()
                    ? translations.events_rebuildGroups()
                    : translations.events_buildGroups()
                "
                (click)="buildInstances()"
                [loading]="isBuildBusy()"
              ></button>
            }
            @if (hasInstances()) {
              <button
                pButton
                icon="i-[mdi--pencil]"
                [outlined]="true"
                [pTooltip]="translations.events_editGroups()"
                (click)="instancesDialog.open(event)"
                [loading]="isBuildBusy()"
              ></button>
            }
          </p-inputGroup>
        </div>
        @if (event.userIdEditingInstances) {
          <div
            class="self-end rounded-full bg-primary px-2 text-center font-bold text-primary-text"
          >
            <span class="i-[mdi--pencil]"></span>
            {{ allUsers()[event.userIdEditingInstances]?.alias }}
          </div>
        }
        <div class="flex shrink-0 flex-row overflow-auto text-xs">
          @for (timeslot of timeslots(); track timeslot.id) {
            <div class="flex w-1/3 min-w-28 shrink-0 flex-col gap-2 px-1">
              <h3 class="m-0 flex flex-row items-center gap-4 px-2">
                <span class="i-[mdi--clock-time-four-outline]"></span>
                <span>
                  {{ timeslot.time.hour | number: '2.0-0' }}:{{
                    timeslot.time.minute | number: '2.0-0'
                  }}
                </span>
              </h3>
              @for (instance of timeslot.instances; track $index) {
                <div
                  class="flex flex-col gap-2 rounded p-2"
                  [ngClass]="$index % 2 === 0 ? 'bg-surface-a' : 'bg-surface-b'"
                >
                  <div class="flex flex-row items-center font-semibold">
                    <span class="i-[mdi--pound] mr-2"></span>
                    <span class="grow uppercase">{{ instance.groupCode }}</span>
                  </div>
                  <div class="flex flex-col gap-1">
                    @for (playerId of instance.playerIds; track playerId; let pi = $index) {
                      <div class="flex flex-row items-center gap-1">
                        <div class="truncate">
                          @if (allUsers()[playerId]; as user) {
                            {{ user.alias }}
                          } @else {
                            &lt;{{ translations.events_timeslot_unknownPlayer() }}&gt;
                            <span class="opacity-50">({{ playerId }})</span>
                          }
                        </div>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          }
        </div>
      }

      @if (!event.startedAt) {
        <p-button
          class="mt-8 self-center"
          severity="danger"
          [text]="true"
          [label]="translations.events_deleteEvent()"
          icon="i-[mdi--delete]"
          (onClick)="deleteEvent()"
        />
      }

      <app-event-timeslot-dialog #createTimeslotDialog [event]="event" />
      <app-modify-external-uri-dialog #modifyExternalUriDialog [event]="event" />
    } @else {
      <div class="mt-16 flex flex-col items-center gap-8">
        <span class="i-[mdi--close-octagon] text-[8rem] text-red-500"></span>
        <h1 class="m-0 text-center">{{ translations.events_notFound() }}</h1>
        <p-button
          [label]="translations.events_backToEvents()"
          icon="i-[mdi--arrow-left]"
          [routerLink]="['..']"
        />
      </div>
    }
  }
</div>

<app-event-instances-dialog #instancesDialog />
