@if (isLoading()) {
  <p-progressSpinner class="m-8"></p-progressSpinner>
} @else if (hasFailed()) {
  <p-messages severity="error">
    <ng-template pTemplate>
      <span class="i-[mdi--close-circle-outline] mr-2"></span>
      <span>{{ translations.users_error_load() }} {{ translations.shared_tryAgainLater() }}</span>
    </ng-template>
  </p-messages>
} @else {
  <div class="flex h-full w-full max-w-[40rem] flex-col gap-1">
    <div class="flex flex-row items-center gap-2">
      <div class="min-w-0 grow">
        <span class="p-input-icon-left">
          <i class="i-[mdi--magnify]"></i>
          <input
            class="w-full max-w-[350px]"
            type="text"
            pInputText
            autocomplete="off"
            [ngModel]="filter()"
            (ngModelChange)="filter.set($event)"
          />
        </span>
      </div>
      <p-button
        icon="i-[mdi--plus]"
        label="{{ translations.shared_add() }}"
        (onClick)="dialog.create(filter()); filter.set('')"
      />
    </div>
    <div class="grow overflow-auto pb-4 pt-3">
      <div class="rounded-lg border-[1px] border-solid border-surface-d bg-surface-a">
        @for (user of users(); track user.id; let index = $index) {
          <div
            class="flex min-w-0 flex-row items-center gap-2 border-0 border-solid border-surface-d p-2 pl-4"
            [class.border-t-[1px]]="index > 0"
          >
            <app-user-item [user]="user" class="min-w-0 grow" />
            @if (user.hasPushSubscription) {
              <p-button
                icon="i-[mdi--bell]"
                [rounded]="true"
                [text]="true"
                size="small"
                (onClick)="pushDialog.open(user)"
              />
            }
            <p-button
              icon="i-[mdi--pencil]"
              [rounded]="true"
              [text]="true"
              size="small"
              (onClick)="dialog.edit(user)"
            />
            <p-button
              icon="i-[mdi--delete]"
              [rounded]="true"
              [text]="true"
              size="small"
              severity="danger"
              (onClick)="deleteUser(user)"
            />
          </div>
        }
        <div class="flex min-w-0 flex-row justify-between rounded-b-lg bg-surface-100 p-3 pl-4">
          <div class="flex min-w-0 items-center gap-2">
            <span class="i-[mdi--crown]"></span> {{ translations.users_footer_admins() }}:
            <span
              class="inline-block rounded-full bg-primary pl-2 pr-2 text-center font-bold text-primary-text"
              >{{ admins().length }}
            </span>
          </div>
          <div class="flex min-w-0 items-center gap-2">
            <span class="i-[mdi--account]"></span> {{ translations.users_footer_players() }}:
            <span
              class="inline-block rounded-full bg-primary pl-2 pr-2 text-center font-bold text-primary-text"
              >{{ players().length }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
}

<app-user-dialog #dialog />
<app-user-push-dialog #pushDialog />
