<div class="flex h-full w-full max-w-[40rem] flex-col gap-4 overflow-auto">
  <h2 class="m-0">Meine Veranstaltungen</h2>
  <div class="rounded-lg border-[1px] border-solid border-surface-d bg-surface-a">
    <div class="px-4 py-2 text-center leading-8">Keine Events</div>
  </div>

  <h2 class="m-0 pt-4">Andere Veranstaltungen</h2>
  <div class="rounded-lg border-[1px] border-solid border-surface-d bg-surface-a">
    <div class="px-4 py-2 text-center leading-8">Keine Events</div>
  </div>
</div>
